body{
    background-color: #dbdbdb1e;
}

.dashboard{
    width: 100%;
    height: 100%;
    min-width: 800px;
    .content-dashboard{
        display: flex;
        flex: wrap;
        width: 100%;
        height: 100%;
        .content1{
            width: 70%;
            height: 100%;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 20px;
            .chart{
                margin-top: 35px;
            }
        }
        .content2{
            width: 30%;
            height: 100%;
            background-color: #ffffff;
            border-left: 1px solid #dbdbdb60;
        }
    }
}

/*****************************************************/

.average{
    width: 100%;
    display: flex;
    .content1-a{
        width: 50%;
        .sub-content1-a{
            h1{
                font-size: 17px;
                text-align: 1.5px;
                font-weight: 400;
                color: #707070a8;
            }
        }
        .sub-content2-a{
            display: flex;
            h1{
                font-size: 20px;
                font-weight: 500;
                color: #4d4d4d;
                text-align: 1px;
                margin-top: 0px;
                b{
                    font-weight: 400;
                    color: #707070bb;
                }
            }
            h2{
                font-size: 14px;
                color: #52884b;
                font-weight: 500;
                margin-left: 50px;
                margin-top: -7px;
            }
            h2::before{
                content: "";
                width: 20px;
                height: 1px;
                background-color: #70707025;
                position: absolute;
                margin-left: -33px;
                margin-top: 12px;
            }
        }
        .sub-content3-a{
            display: flex;
            margin-top: -7px;
            h3{
                font-size: 15px;
                text-align: 1.5px;
                font-weight: 400;
                color: #707070a8;
            }
            .combobox-1{
                select{
                    background-color: transparent;
                    border: none;
                    margin-top: 20px;
                    font-size: 12px;
                    margin-left: 20px;
                    outline:none;
                }
            }
        }
    }
    .content2-a{
        width: 50%;
        .combobox-2{
            width: 100%;
            select{
                margin-left: 50%;
                margin-top: 15%;
                background-color: transparent;
                width: 100px;
                height: 30px;
                border-radius: 4px;
                font-size: 12px;
                padding: 5px;
                outline:none;
            }
        }
    }
}



/************************   Logout    **************************/

.logout{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 35px;
    border-bottom: 1px solid #dbdbdb60;
    height: 90px;
    .user{
        margin-right: 55px;
        img{
            width: 25px;
            height: 25px;
            border-radius: 50px;
            margin-top: 0px;
            cursor: pointer;
            animation-name: fadeIn;
            animation-duration: 0.5s;
        }
    }
    .search{
        margin-right: 55px;
        i{
            font-size: 14px;
            cursor: pointer;
        }
    }
    .menu{
        margin-right: 55px;
        i{
            font-size: 14px;
            cursor: pointer;
        }
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }


  /********************** status *************************/

  .status{
      padding-left: 20px;
      padding-right: 20px;
      .title{
        h1{
            font-size: 25px;
            font-weight: 700;
        }
      }
      .sub-title{
          display: flex;
          width: 100%;
          height: 70px;
          .fa{
            border-radius: 50px;
            width: 30px;
            height: 30px;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06), 0 1px 15px 0 rgba(0, 0, 0, 0.04), 0 3px 13px -2px rgba(0, 0, 0, 0.08);
            color: #374c8f;
            padding-left: 10px;
            line-height: 30px;
          }
          h1{
            height: 50px;
            font-size: 14px;
            font-weight: 500;
            margin-top: 2px;
            padding-left: 10px;
          }
      }
      .content-status{
        display: flex;
        flex-wrap: wrap;
        margin-top: -20px;
        .box{
            width: 46%;
            margin: 2%;
            border: 1px solid #70707025;
            padding: 5px;
            .content-box{
                display: flex;
                h1{
                    width: 100%;
                    font-size: 13px;
                    font-weight: 70px;
                }
                .fa{
                    width: 10px;
                    font-size: 8px;
                }
            }
            h2{
                font-size: 11px;
                color: #4d4d4d5d;
            }
        }
      }
  }

   /********************** status - health *********************/

   .health{
       padding-right: 20px;
       padding-left: 20px;
       margin-top: 30px;
       padding-bottom: 30px;
       .sub-title{
           display: flex;
           .fa{
            border-radius: 50px;
            width: 30px;
            height: 30px;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06), 0 1px 15px 0 rgba(0, 0, 0, 0.04), 0 3px 13px -2px rgba(0, 0, 0, 0.08);
            color: #374c8f;
            padding-left: 10px;
            line-height: 30px;
           }
           h1{
            height: 50px;
            font-size: 14px;
            font-weight: 500;
            margin-top: 2px;
            padding-left: 10px;
           }
       }
       .box{
           display: flex;
           width: 100%;
           h1{
               width: 80%;
               font-size: 11px;
               color: #4d4d4d8c;
               font-weight: 500;
           }
           h2{
                width: 20%;
                font-size: 12px;
                color: #4d4d4d;
                text-align: center;
           }
       }
       .active{
           h2{
               border: 1px solid #44d44b;
               color: #44d44b;
               border-radius: 25px;
               i{
                    font-size: 10px;
               }
           }
       }
   }

   /********************** exchange **********************/

   .exchange{
       margin-top: 50px;
    .sub-title{
        display: flex;
        .fa{
         border-radius: 50px;
         width: 30px;
         height: 30px;
         box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06), 0 1px 15px 0 rgba(0, 0, 0, 0.04), 0 3px 13px -2px rgba(0, 0, 0, 0.08);
         color: #374c8f;
         padding-left: 10px;
         line-height: 30px;
        }
        h1{
         height: 50px;
         font-size: 14px;
         font-weight: 500;
         margin-top: 2px;
         padding-left: 10px;
        }
    }
    .content{
        display: flex;
        .content-1{
            width: 50%;
            border-right: 1px solid #dbdbdb60;
            table{
                tr{
                    width: 33.33%;
                    th{
                        font-size: 12px;
                        color: #000;
                        color: #4d4d4d8c;
                        font-weight: 500;
                        padding-bottom: 20px;
                        text-align: center;
                        }
                    td{
                        font-size: 12px;
                        color: #000;
                        color: #000000;
                        font-weight: 500;
                        padding-bottom: 20px;
                        text-align: center;
                    }
                    }
                }
            }
            .content-2{
                width: 50%;
            }
        }
   }


   /***************************************/

   .personal-info{
       width: 100%;
       position: absolute;
       display: flex;
       flex-wrap: wrap;
       margin-top: 10%;
       margin-left: -120px;
       h1{
           width: 100%;
           font-size: 20px;
           text-align: center;
       }
       h2{
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-top: -10px;
       }
   }