@import url("./TooltipText.scss");

.header{
    background-color: #ffffff;
    width: 110px;
    height: 100vh;
    border-right: 1px solid #dbdbdb60;
    position: fixed;
    .logo{
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #dbdbdb60;

        svg{
            animation: App-logo-spin infinite 20s linear;
            width: 50px;
            g{
                fill: #2a2a2a;
            }
        }
    }
    .sidebar{
        width: 100%;
        ul{
            list-style: none;
            width: 100%;
            height: 100%;
            padding-top: 50px;
            li{
                left: 0;
                width: 100px;
                height: 50px;
                margin-bottom: 15px;
                margin-left: -35px;
                display: flex;
                justify-content: center;
                i{
                    width: 35px;
                    height: 35px;
                    border-radius: 4px;
                    text-align: center;
                    line-height: 36px;
                    color: #959595;
                    transition: 0.4s ease;
            
                }
                i:hover{
                    box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.06), 0 1px 15px 0 rgba(0, 0, 0, 0.04), 0 3px 13px -2px rgba(0, 0, 0, 0.08);
                    color: #4d4d4d;
                }
            }
            .active{
                transition: 0.4s ease;
                i{
                    transition: 0.4s ease;
                    box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.06), 0 1px 15px 0 rgba(0, 0, 0, 0.04), 0 3px 13px -2px rgba(0, 0, 0, 0.08);
                    color: #374c8f;
                }
            }
        }
    }
}


@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }





