.side-menu .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 10px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 4px;
  }
  
  .side-menu .tooltiptext::before {
    content: "";
    position: absolute;
    background-color: #555;
    width: 8px;
    height: 8px;
    left: 0;
    transform: rotate(45deg);
    margin-top: 3px;
    border-radius: 1px;
  }
  
  .side-menu:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .side-menu:focus .tooltiptext{
    visibility: hidden;
    opacity: 0;
  }